<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!-- Conexion archivo
	<appSettings file="C:\Users\GenerationChile38\Desktop\Trabajo-Angular\Acceso\conexionNet.config"> 
	-->
	<appSettings file="..\acceso\conexionNet.config"> 
			<add key="AKORACLE" value="connPlanificador" />	
	</appSettings>
</configuration>